# Node specific
/node_modules
/coverage
/build

# IDE
.idea/
.vscode

# I18n-editor
.i18n-editor-metadata

# OS specific
.DS_Store
Thumbs.db

# Environment local configurations
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
*.log
